@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #fff;
  --accent-color: #624de3;
  --secondary-color: #9E9E9E;
  --element-color: #e0e0e0;
  --text-color: #000;
  --success-color: #1F9254;
  --warn-color: #CD6200;
  --error-color: #A30D11;
}

:root[class~='dark'] {
  --primary-color: #1D1E42;
  --accent-color: #624de3;
  --secondary-color: #fff;
  --element-color: #141432;
  --text-color: #fff;
  --success-color: #1F9254;
  --warn-color: #CD6200;
  --error-color: #A30D11;
}

@theme {
  --color-primary: var(--primary-color);
  --accent-color: var(--accent-color);
  --secondary-color: var(--secondary-color);
  --element-color: var(--element-color);
  --color-text: var(--text-color);
  --color-success: var(--success-color);
  --color-warn: var(--warn-color);
  --color-error: var(--error-color);
  --main-font: "Montserrat";
}

body {
  font-family: var(--main-font), sans-serif;
}